.select {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #ccc;
  appearance: none;
  margin: 40px 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.select-option {
  padding: 0.5rem 1rem;
  font-weight: 400;
  color: #222222;
}
