.product {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #4f575f;

  height: 350px;
  
  &:hover {
    transform: scale(1.1, 1.1);
  }
  &__name {
    font-weight: 500;
  }
  &__price {
    font-weight: 800;
    margin-top: 6px;
    color: black;
  }

  &__image {
    border-radius: 15px;
    background-color: #ebebeb;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    width: 250px;
    height: 250px;

    @media screen and (max-width: 767px) {
      width: 150px;
      height: 150px;
    }
  }
}
