.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 18px;
  position: relative;

  &__icon {
    height: 70px;
    width: 70px;
    display: none;

    @media screen and (min-width: 579px) {
      display: block;
    }
  }

  &__cart-icon {
    font-size: 35px;
    color: gray;
    cursor: pointer;
    position: relative;
    transition: transform 0.4s ease;
    border: none;
    background-color: transparent;
    display: block;
    &:hover {
      transform: scale(1.1, 1.1);
    }

    &:last-child() {
      margin-left: 16px;
    }
  }

  &__cart-item-qty {
    position: absolute;
    top: 50%;
    right: -8px;
    font-size: 12px;
    color: #eee;
    background-color: #f02d34;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
  }
}
